/* reset */
@import "./reset.css";

:root {
    --font-primary-color: #212353;
    --font-secondary-color: #4B5D68;
}

body {
    font-family: 'Nunito Sans';
    background-color: #F8FBFD;
}

hr {
    border: 2px solid #9C69E2;
    opacity: .2;
}

.container {
    width: 100%;
    max-width: 1120px;
    padding: 0 30px;
    margin: 0 auto;
}

.page {
    overflow: hidden;
}

/* header */
.header {
    padding-top: 50px;
}

.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navbar {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 16px;
}

.nav__link {
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;

    text-decoration: none;
    color: var(--font-secondary-color);
}

.nav__link.active {
    font-weight: 700;
}

.nav__request__demo {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.nav__request__demo__btn {
    text-decoration: none;
    color: var(--font-primary-color);
    font-size: 16px;
    font-weight: 700;

    padding: 17px 29px;
    background-color: #fff;
    box-shadow: 0px 5px 5px 0px rgba(75, 93, 104, 0.10);
    border: none;
    border-radius: 50px;
}

.nav__request__demo span {
    color: #9C69E2;
}

.header__row {
    position: relative;
    margin-top: 147px;
    max-width: 100%;
}

.header__content {
    display: flex;
    flex-direction: column;
    color: var(--font-primary-color);
}

.header__title {
    padding-bottom: 80px;
    width: 50%;
    font-size: 70px;
    font-weight: 700;
    line-height: .9;

}

.header__content p {
    padding-bottom: 50px;
    font-size: 18px;
    font-weight: 500;
    width: 35%;
    line-height: 1.5;
}

.header__content-btn {
    width: 30%;
}

.header__content a {
    padding: 15px 37px;
    color: #fff;
    background-color: #9C69E2;
    text-decoration: none;
    font-weight: 700;
    border: none;
    border-radius: 30px;
}


.header__img {
    position: absolute;
    top: 65px;
    left: 300px;
    z-index: -1;
}

.header__img img {
    width: 100%;
}

/* section */

.section-pink {
    padding-top: 200px;
    padding-bottom: 150px;
}

.section-purple {
    padding-bottom: 150px;
}

/* help */

.help {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    background-color: #FDE8F4;
    border-radius: 50px;
}

.help__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.help__content h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    padding-bottom: 40px;
}

.help__content p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}

/* features */

.features {
    padding-bottom: 100px;
}

.features__header {
    text-align: center;
    color: var(--font-primary-color);
}

.features__header h1 {
    padding-bottom: 50px;
    font-size: 40px;
    line-height: 1.3;
}

.features__header p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}


.features__cards {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.features__item {
    margin: 60px 0;
    padding: 30px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.features__content h2 {
    padding-bottom: 20px;
}

.features__content p {
    padding-bottom: 20px;
}

.features__content a {
    text-decoration: none;
    color: var(--font-primary-color);
    font-size: 16px;
    cursor: pointer;
}

.features__content span {
    color: #9C69E2;
}

.features__bg {
    position: absolute;
    top: -30px;
    left: 80px;
}

/* .features__item-first {
    background-image: url('../img/features/bg_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.features__item-second {
    background-image: url('../img/features/bg_2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.features__item-third {
    background-image: url('../img/features/bg_3.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.features__item-fourth {
    background-image: url('../img/features/bg_4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

/* reviewa */
.reviews {
    padding: 93px;
    background-color: #9C69E2;
    position: relative;
    border-radius: 50px;
}

.reviews__header {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
}

.review__content {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}

.review__content h3 {
    padding-bottom: 19px;
    color: var(--font-secondary-color);
    font-size: 18px;
    font-style: normal;
    line-height: 1.8;
}

.swiper {
    padding-top: 100px;
}

.swiper-slide {
    padding: 60px 70px;
    display: flex;
    background-color: #fff;
    border-radius: 30px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;
}

.swiper-button-prev {
    padding-top: 70px;
    font-size: 30px;
}

.swiper-button-next {
    padding-top: 70px;
    font-size: 30px;
}

/* footer */

.footer {
    padding-top: 100px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__left h1 {
    color: var(--font-primary-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    padding-bottom: 10px;
}

.footer__col-socials {
    padding-right: 100px;
}

.footer__btn {
    margin-right: 40px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 16px 37px;
    background-color: #F063B8;
    border: none;
    border-radius: 50px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    padding-top: 160px;
    color: var(--2, #212353);
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.16px;
}

.footer__title {
    font-weight: 700;
}

.footer__title-logo {
    display: flex;
    align-items: center;
}

.footer__title-logo span {
    padding-left: 20px;
}

.footer__contacts {
    padding-top: 67px;
}

.footer__address {
    padding-top: 10px;
    font-weight: 700;
}

.footer__list {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.footer__list-socials {
    display: flex;
    flex-direction: row;
}

.footer__social {
    margin-right: 10px;
    padding-right: 10px;
    padding: 10px 17px;
    border-radius: 50%;
    color: #fff;
    background-color: #E9E9EE;
}

.footer__list__item {
    text-decoration: none;
    color: var(--font-primary-color);
    font-weight: 500;
    line-height: 2.5;
}

/* copyright */

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 93px 0;
}

.copyright p {
    color: var(--font-primary-color);
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.12px;
}

.copyright a {
    padding: 13px 17px;
    background-color: #EBE1F9;
    border-radius: 50%;
    font-size: 25px;
}